.logo-box {
    text-align: center;
}

.top-logo  {
    display:inline-block;
    text-align: center;
    vertical-align:top;
    margin: 15px;
}

.top-logo-text  {
    display:inline-block;
    margin-left: auto;
    margin-right: auto;

}

.line-through-title {
    width: 100%;
    display:inline-block;
    horiz-align: center;
    margin: 0px;
    text-align:center
}

.item-box {
    width: 33.333%;!important;
}

.job-item {
    position: relative;
    display:inline-block;
    width: 80%;
    height: 90px;
    border: 3px solid #DDD;
    border-left: none;
    border-radius: 0 10px 10px 0;
    float: left;
    margin-left: 55px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.75em;
}

.job-item:hover .job-logo {
    /*这个hover悬停加选择器学到了，一开始弄了好久只知道hover图标*/
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.job-logo {
    vertical-align: top;
    height: 90px;
    margin-left: -45px;
    margin-top: -3px;
    border: 3px solid #DDD;
    border-radius: 50%;
    width: 90px;
}

/*.job-logo:hover {*/
    /*box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);;*/
/*}*/

.job-detail {
    display:inline-block;
}

.job-detail h5 {
    font-weight: bold;
    font-size: 1.1em;
}

.job-detail p {
    font-weight: normal;
    font-size: 0.9em;
}

.job-apply {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 85%;
    height: 85%;
    overflow: auto;
}

.arrow-tabs {
    vertical-align: top;
    display:inline-block;
    width: 100%;
}

/*箭头的布局没学会，抄上去是位置摆不好，感觉跟我的div结构有关系*/
/*.arrow-tabs [class*="tab-item-"]:after {*/
    /*z-index: 2;*/
    /*position: absolute;*/
    /*right: -26px;*/
    /*top: 0;*/
    /*content: " ";*/
    /*border: solid 1em transparent;*/
    /*border-width: 20px;*/
    /*border-left-color: inherit;*/
/*}*/

.tab-item-1 {
    display:inline-block;
    text-align:center;
    height: 100%;
    width: 24%;
    background: #AA3333;
}

.tab-item-2 {
    display:inline-block;
    text-align:center;
    width: 24%;
    background: #565656;
}

.tab-item-3 {
    width: 24%;
    display:inline-block;
    text-align:center;
    background: #565656;
}

.tab-item-4 {
    width: 24%;
    display:inline-block;
    text-align:center;
    margin-right: 0;
    background: #565656;

}

.step-name {
    display:inline-block;
    font-size: 18px;
    color: #f6f6f6;
}

.job-topic {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
}

.job-descript {
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.step-area{
    margin: 10px;
}

.textarea{
    width:90%;
    margin: 10px;
}