
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>    【西洋汇 - 职位应聘】
        全球时尚时尚电商服务平台</title>
    <meta name="keywords" content="西洋汇 海淘 时尚 电商 招聘频道">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="images/logo.ico" rel="shortcut icon">

    <link rel="stylesheet" href="css/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="job-header">
    <div class="logo-box">
        <a class="top-logo" href="/job" target="_blank">
            <img src="{{  asset('images/logo.svg') }}" alt="西洋汇 全球时尚跨境电商 欧美 海淘 正品"/>
        </a>
        <div class="top-logo-text">
            <h2>时尚海淘电商招聘站</h2>
            <h5>WELCOME TO JOIN US IN XIYANGHUI</h5>
        </div>
    </div>


    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/job">首页</a>
                    </li>
                    <li>
                        <a href="/job">为什么加入我们</a>
                    </li>
                    <li>
                        <a href="/job">你将和谁一起工作</a>
                    </li>
                    <li class="active">
                        <a href="/job">所需职位</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="container">
            <div class="line-through-title"><h3>请选择应聘职位</h3></div>
            <div class="select-jobs clearfix">
                <table>
                    <tbody>
                    <tr class="department">
                        <th class="col-xs-1">技术部</th>
                        <td class="col-xs-11">
                            <div class="col-md-4 col-sm-6 itembox">
                                <div class="job-item" data-id="560c88b7652a0734118b456b" data-name="PHP工程师">
                                    <img src="./【西洋汇 - 职位应聘】 全球时尚时尚电商服务平台_files/560c88b7652a0734118b456b">
                                    <div class="job-detail">
                                        <h5 class="job-item-title">PHP工程师</h5>
                                        <p class="job-item-slogan">野路子也有春天</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 itembox">
                                <div class="job-item" data-id="57b47677bb7a91e313943f65" data-name="前端工程师">
                                    <img src="./【西洋汇 - 职位应聘】 全球时尚时尚电商服务平台_files/57b47677bb7a91e313943f65">
                                    <div class="job-detail">
                                        <h5>前端工程师</h5>
                                        <p>精益求精的点滴构建乔布斯级产品</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 itembox">
                                <div class="job-item" data-id="5af6cda6fba6c1444003ec2e" data-name="大数据（算法）工程师">
                                    <img src="./【西洋汇 - 职位应聘】 全球时尚时尚电商服务平台_files/5af6cda6fba6c1444003ec2e">
                                    <div class="job-detail">
                                        <h5>大数据（算法）工程师</h5>
                                        <p>机器学习与人工智能</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 itembox">
                                <div class="job-item" data-id="598e5d46bb7a91280351993b" data-name="Go工程师">
                                    <img src="./【西洋汇 - 职位应聘】 全球时尚时尚电商服务平台_files/598e5d46bb7a91280351993b">
                                    <div class="job-detail">
                                        <h5>Go工程师</h5>
                                        <p>新技术的应用舞台</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 itembox">
                                <div class="job-item" data-id="593cee98bb7a91da32ca5e52" data-name="全栈工程师">
                                    <img src="./【西洋汇 - 职位应聘】 全球时尚时尚电商服务平台_files/593cee98bb7a91da32ca5e52">
                                    <div class="job-detail">
                                        <h5>全栈工程师</h5>
                                        <p>前后端+产品思维</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 itembox">
                                <div class="job-item" data-id="5a47e911fba6c1026b63d4ce" data-name="测试工程师">
                                    <img src="./【西洋汇 - 职位应聘】 全球时尚时尚电商服务平台_files/5a47e911fba6c1026b63d4ce">
                                    <div class="job-detail">
                                        <h5>测试工程师</h5>
                                        <p>尖叫产品，质量第一</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 itembox">
                                <div class="job-item" data-id="5424cb9704c8485777aef981" data-name="技术培训生">
                                    <img src="./【西洋汇 - 职位应聘】 全球时尚时尚电商服务平台_files/5424cb9704c8485777aef981">
                                    <div class="job-detail">
                                        <h5>技术培训生</h5>
                                        <p>有潜力的技术小飞鸟</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
