
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>    【西洋汇 - 职位应聘】
        全球时尚时尚电商服务平台</title>
    <meta name="keywords" content="西洋汇 海淘 时尚 电商 招聘频道">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="images/logo.ico" rel="shortcut icon">

    <link rel="stylesheet" href="css/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</head>
<body>
<div class="job-header">
    <div class="logo-box">
        <a class="top-logo" href="/job" target="_blank">
            <img src="{{  asset('images/logo.svg') }}" alt="西洋汇 全球时尚跨境电商 欧美 海淘 正品"/>
        </a>
        <div class="top-logo-text">
            <h2>时尚海淘电商招聘站</h2>
            <h5>WELCOME TO JOIN US IN XIYANGHUI</h5>
        </div>
    </div>


    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/job">首页</a>
                    </li>
                    <li>
                        <a href="/job">为什么加入我们</a>
                    </li>
                    <li>
                        <a href="/job">你将和谁一起工作</a>
                    </li>
                    <li class="active">
                        <a href="/job">所需职位</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="line-through-title"><h3>请选择应聘职位</h3></div>
        <div class="select-jobs clearfix">
            <table>
                <tbody>
                {#<pre>asdasd</pre>#}
                <tr class="department">
                    {{ jobs | raw }}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="job_apply_page" class="job-apply">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="on_click_job_apply_page()"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="job-name">职位应聘 <small></small></h4>
                </div>
                <div class="">
                    <div class="arrow-tabs">
                        <div class="tab-item-1" id="tab-item-1">
                            <div class="step-name">职位描述</div>
                        </div>
                        <div class="tab-item-2">
                            <div class="step-name">在线答题</div>
                        </div>
                        <div class="tab-item-3">
                            <div class="step-name">填写简历</div>
                        </div>
                        <div class="tab-item-4 last">
                            <div class="step-name">完成应聘</div>
                        </div>
                    </div>

                    <div class="step-area desc" id="step-1">
                        <div id="jobDescribe"></div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-lg" onclick="to_step_2()">开始应聘</button>
                        </div>
                    </div>

                    <div class="step-area questions" style="display: none" id="step-2">
                        <h4>请就以下问题告诉我们您的想法，字数不限。所有问题都没有标准答案；如果您认为该题目对您太难，可以留空，点击保存放弃作答。</h4>
                        <form id="questions" class="form-horizontal" method="POST" action="job/saveResume" enctype="multipart/form-data" novalidate="novalidate">
                            <div class="questionsArea" id="questionsArea">

                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-default btn-lg" onclick="to_step_1()">上一步</button>
                                <button type="button" class="btn btn-primary btn-lg" onclick="to_step_3()">下一步</button>
                            </div>
                        </form>
                    </div>

                    <div class="step-area information" style="display: none;" id="step-3">
                        <h4>请填写您的基本资料</h4>
                        <form id="resume" class="form-horizontal" method="POST" action="job/saveResume" enctype="multipart/form-data" novalidate="novalidate">
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-offset-2 control-label">
                                    姓名
                                </label>
                                <div class="col-sm-5">
                                    <input class="form-control" type="text" name="name" placeholder="请输入真实姓名" required="required" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-offset-2 control-label">
                                    性别
                                </label>
                                <div class="col-sm-5">
                                    <label class="radio-inline"><input type="radio" name="gender" value="female" required="required" aria-required="true">女</label><label class="radio-inline"><input type="radio" name="gender" value="male" required="required" aria-required="true">男</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-offset-2 control-label">
                                    出生日期
                                </label>
                                <div class="col-sm-5">
                                    <input class="form-control" type="date" name="birth" required="required" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-offset-2 control-label">
                                    电话
                                </label>
                                <div class="col-sm-5">
                                    <input class="form-control" type="text" name="tel" placeholder="您的常用手机" required="required" aria-required="true">
                                </div>
                            </div>
                            <div class="text-center" style="margin-top: 30px">
                                <button type="button" class="btn btn-default btn-lg" onclick="to_step_2()">上一步</button>
                                {#<button type="submit" class="btn btn-primary btn-lg" id="submit-apply-btn">提交</button>#}
                                <button type="button" class="btn btn-primary btn-lg" id="submit-apply-btn" onclick="submit_form()">提交</button>
                            </div>
                        </form>
                    </div>

                    <div class="step-area clearfix" style="display: none" id="step-4">
                        <div class="alert alert-success clearfix" role="alert">
                            <h4 class="text-center">恭喜，您已经完成了应聘！</h4>
                            <small>
                                1. 非常感谢您有意向加入我们的公司。我们希望整个应聘过程是简单而高效的，没有占用您的太多时间。<br>
                                2. 我们的管理员已经收到您的应聘请求，并且将在最短时间内阅读您的简历和应聘，同时将给您作出EMail的初步回复。<br>
                                3. 如果需要，我们还将邀请您到我们的公司进行面试，加深大家的了解。所以还敬请您保持手机和其它联系方式的畅通。<br>
                                4. 在我们阅读您的简历之前，您仍然可以对您的回答及简历进行修改。随时登录西洋汇并再次进入此页面即可。<br>
                                <br>
                                祝您有愉快的一天。
                                <span id="invoicing" class="pull-right"></span>
                            </small>
                        </div>

                        <div class="text-center" style="margin-top: 20px">
                            <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" id="finish" onclick="on_click_job_apply_page()">完成应聘</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
