<div class="question-item">
<h5>
    <b>{{index_number}}</b>
    {{description | raw}}
</h5>
    <textarea class="textarea" name="{{ quest_id }}" placeholder="请在此输入您的答案">{{ answer }}</textarea>
</div>